.index-box{
display: inline-block;
width: 350px;
border-color: rgb(193, 193, 193);
border-width: 3px;
border-style: solid;
margin: 20px;
padding: 20px;
text-align: left;
line-height: 25px;
margin-right: 27.5%;
}
a{
    color: black;
    text-decoration: none;
    font-family: Merriweather, arial;
   
}
a:hover{
    opacity: 0.75;
    transition: all .75;
}
a:active{
    opacity: 1;
}

li{
 list-style: none;
 margin-bottom: 8px;
}
h3{
    text-align: center;
    margin-bottom: 20px;
}