

.line{
    display:inline-block;
    align-items: center;
}
.top-image{
    width: 780px;
}
.image-div{
    display: flex;
    align-items: center;
    padding: 50px;
    padding-bottom: 70px;
    justify-content: center;
}
.banner-1{
    width: 780px;
    cursor: pointer;
    margin-top: 20px;
}